html {
  height: 1300px;
}
/*contains root colors*/
:root {
  --pink: #E491E1;
  --yellow: #F3E3B6;
  --green: #06D6A0;
  --lightGreen: #f5fcf4;
  --blue: #06c0ee
}

/*Header families*/
h1, h2, h3, h4 {
  font-family: 'Courier New', Courier, monospace';
}
/*formatting for title and animation*/
.titleName{
  display:block;
  text-align: center;
  margin-top: 30px;
}

.titleName h1 {
  font-size: 6em;
  float: center;
  color: var(--pink);
  font-family: 'Courier New';
}

.titleName {
  width: 100%;
  min-height: 43vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--lightGreen);
}

.titleName .text span {
  font-size: 60px;
  display: inline-block;
  text-align: center;
  width: 60px;
  padding-top:0px;
  text-transform: uppercase;
  font-family: 'Roboto';
  position: relative;
  color: var(--pink );
  z-index: 5;
}

.titleName .text span::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background-color: var(--yellow);
  z-index: -1;
  box-shadow: 0 5px 5px #111;
}

.titleName .text:hover span::before {
  animation: fillBg 1s ease forwards;
  animation-delay: calc(100ms * var(--i));
}

@keyframes fillBg {
  0% {
    width: 0%;
  }

  100% {
    width: 100%;
    transform: rotate(calc(15deg * var(--i)));
  }
}


/*Formatting for image on home page*/
.storefrontImageContainer img {
  height: 450px;
  width: auto;
  border-radius: 30px;
  float: right;
  margin-right: 100px;
  border-style: solid;
  border-width: 20px;
  border-color: var(--pink);
}

/*Formatting for visit us tab on home page*/
.comeVisitUs {
  height: 450px;
  width: 400px;
  margin-left: 100px;
  background-color: var(--blue);
  float: left;
  border-radius: 30px;
  text-align: center;
  font-family: 'Roboto';
  border-style: solid;
  border-width: 20px;
  border-color: var(--pink)
}

.comeVisitUs h1 {
  display: inline-block;
  border-radius: 30px;
  padding: 15px;
  font-size: 4em;
  color: var(--yellow);
  background-color: var(--pink);
}

.comeVisitUs h3 {
  display: inline-block;
  border-radius: 30px;
  padding: 20px;
  margin-top: 0px;
  font-size: 2em;
  color: var(--yellow);
  background-color: var(--pink)
}

.comeVisitUs a {
  display: inline-block;
  border-radius: 30px;
  padding: 10px;
  font-family: 'Roboto';
  background-color: var(--pink);
  font-size: 2em;
  color: var(--yellow)
}

.comeVisitUs a:hover {
  color: var(--lightGreen)
}

input[type="button"] {
  margin-top: 30px;
  font-size: 3em;
  display: inline-block;
  border-radius: 30px;
  padding: 10px;
  background-color: var(--pink);
  color: var(--yellow)
}

input[type=button]:hover {
  color: var(--lightGreen);
  font-size: 4em;
}


/*Formatting for contact form on home page*/
.contactForm {
  margin-top: 550px;
  text-align: center;
  font-family: 'Roboto';
}

.contactForm h3 {
  font-size: 3em;
  color: var(--pink)
}

.contactForm form {
  width: 75%;
  margin: auto;
  border: 1px solid var(--pink);
  padding: 10px;
}

.contactForm form legend {
  color: var(--blue);
  font-weight: bold;
  text-align: center;
  margin-bottom: 5px;
}

.contactForm form label {
  font-weight: bold;
  text-align: center;
}


